@import "../../../style/bootstrap";

.navbar {

  .navbar-brand {
    a {
      color: map-get($theme-colors, 'light');
      text-decoration: none;
    }
  }

  .navbar-toggler {
    border: none;
    outline: 0;
    transition: all 0.3s;

    &.collapsed {
      color: map-get($theme-colors, 'secondary') !important;
    }

    &:not(.collapsed) {
      color: map-get($theme-colors, 'primary') !important;
    }

    &:hover {
      color: map-get($theme-colors, 'light') !important;
    }
  }

  .navbar-nav {
    .nav-item {
      margin: 0 map-get($spacers, 3);

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      a {
        display: inline-block;
        color: map-get($theme-colors, 'tertiary');
        padding: map-get($spacers, 1) 0;
        text-decoration: none;
        transition: all 0.2s;
        background: linear-gradient(to left, map-get($theme-colors, 'primary'), map-get($theme-colors, 'primary')) no-repeat bottom center !important;
        background-size: 0% 2px !important;

        &:hover {
          color: map-get($theme-colors, 'light');
          text-decoration: none;
          background-size: 100% 2px !important;
        }

        &:focus {
          @extend :hover;
        }

        &.active {
          @extend :hover;
        }
      }
    }
  }

}