/*
  +---------------------------------------------+
  | This stylesheet defines global style rules. |
  +---------------------------------------------+
*/

@import "./fonts";
@import './bootstrap';
/* (Bootstrap must be imported AFTER the Bootstrap customization stylesheet!) */
@import "~bootstrap/scss/bootstrap"; 


$gradient-default: linear-gradient(150deg, #59fbff 0%, #7b59ff 100%);


body {
  background-color: #efeff3  ;
}

/* --------------------- GLOBAL --------------------- */

h1, h2, h3, h4 {
  font-weight: bold;
}

.text-consolas {
  font-family: "Consolas";
}

header.page-title {
  width: fit-content;
}

/* --------------------- HOME --------------------- */

#home {

  section#about {
      background: $gradient-default;
  
      p {
          font-size: 1.3em;
      }
  
      a.social-account {
          color:  map-get($theme-colors, 'secondary');
          &:hover { color:  map-get($theme-colors, 'primary'); }
      }
  
  }

}
