@import "./fonts";
@import "./variables"; // Bootstrap variables are overriden in this file! :^o

@import "~bootstrap/scss/bootstrap"; // Bootstrap should be imported after _variables.scss! :^]

section#about {
    background: $gradient-default;

    a.social-account {
        color: theme-color("secondary");
        &:hover { color: theme-color("primary"); }
    }

}
